foxit_xamarin_ios/libs
foxit_xamarin_ios/FoxitRDKBinding/FoxitRDKBinding/bin
foxit_xamarin_ios/FoxitRDKBinding/FoxitRDKBinding/obj
foxit_xamarin_ios/FoxitRDKDemo/FoxitRDKDemo/bin
foxit_xamarin_ios/FoxitRDKDemo/FoxitRDKDemo/obj
foxit_xamarin_ios/FoxitRDKDemo/.vs