foxit_xamarin_ios/libs
foxit_xamarin_ios/FoxitRDKBinding/FoxitRDKBinding/bin
foxit_xamarin_ios/FoxitRDKBinding/FoxitRDKBinding/obj
foxit_xamarin_ios/FoxitRDKDemo/FoxitRDKDemo/bin
foxit_xamarin_ios/FoxitRDKDemo/FoxitRDKDemo/obj
foxit_xamarin_ios/FoxitRDKDemo/.vs
foxit_xamarin_ios/Foxit.iOS/.vs
foxit_xamarin_ios/Foxit.iOS.UIExtensions/Foxit.iOS.UIExtensions/obj
foxit_xamarin_ios/Foxit.iOS/Foxit.iOS/bin
foxit_xamarin_ios/Foxit.iOS/Foxit.iOS/obj
foxit_xamarin_ios/FoxitRDKDemo/FoxitRDKDemo/.vs
foxit_xamarin_ios/Foxit.iOS/Foxit.iOS/.vs
foxit_xamarin_ios/Foxit.iOS.UIExtensions/.vs
Foxit.iOS.UIExtensions.nuspec
Foxit.iOS.nuspec
foxit_xamarin_ios/Foxit.iOS.UIExtensions/Foxit.iOS.UIExtensions/bin
packages.config
foxit_xamarin_ios/FoxitRDKDemo/packages/Foxit.iOS.6.3.0/lib
foxit_xamarin_ios/FoxitRDKDemo/packages/Foxit.iOS.UIExtensions.6.3.0/lib
.signature.p7s
Foxit.iOS.6.3.0.nupkg
Foxit.iOS.UIExtensions.6.3.0.nupkg
